<div id="header">
    <div id="logo">
        <a href="/index"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li {{#if activeTabIndex}} class="selected" {{/if}}>
                <a href="/index">Home</a>
            </li>
            <li {{#if activeTabTravel}} class="selected" {{/if}}>
                <a href="/travel">Travel</a>
            </li>
            <li {{#if activeTabRooms}} class="selected" {{/if}}>
                <a href="/rooms">Rooms</a>
            </li>
            <li {{#if activeTabMeals}} class="selected" {{/if}}>
                <a href="/meals">Meals</a>
            </li>
            <li {{#if activeTabNews}} class="selected" {{/if}}>
                <a href="/news">News</a>
            </li>
            <li {{#if activeTabAbout}} class="selected" {{/if}}>
                <a href="/about">About</a>
            </li>
            <li {{#if activeTabContact}} class="selected" {{/if}}>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>